.container {
  width: 1135px;
  height: 636px;
  /* background-color: rgba(17, 17, 17, 1); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: blue; */
}

.navbar {
  width: 1135px;
  height: 63px;
  /* background-color: rgba(17, 17, 17, 1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarSection {
  width: 431px;
  height: 26px;
  display: flex;
  justify-content: space-between;
}
.navbarPages {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.btn {
  background-color: aqua;
}



.herosection{
    margin-top: 20px;
}