.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.name {
  width: 148px;
  height: 24px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.client {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.position {
  color: rgba(255, 255, 255, 1);

  width: 80px;
  height: 24px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.review {
  width: 293px;
  height: 92px;

  color: rgba(255, 255, 255, 0.3);

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
