.wrapper {
  width: 1156px;
  height: 425px;
  border-radius: 14px;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  display: flex;
  justify-content: center;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.teamtitle {
  width: 253px;
  height: 77px;
  font-family: Inter;
  font-size: 54px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
}

.teamContainer {
  display: flex;
  width: 344px;
  height: 109px;
  border-radius: 14px;

  align-items: center;
  gap: 10px;
  justify-self: center;
  padding: 20px;
}

.teamContainer:hover {
  background-color: rgba(227, 183, 72, 1);
  cursor: pointer;
  color: rgba(55, 55, 55, 1);
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.cases {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  color: rgba(255, 255, 255, 0.6);
}
